.container {
  max-width: 1291px;
  margin: 0px auto;
  background-color: #ffffff;
  font-family: "Nunito";
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100%;
  margin: 31px 0px 18px;
}
.main {
  min-height: 60vh;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 50px;
}
.footer {
  min-width: 100%;
  min-height: 284px;
  background-color: #d90000;
}
body {
  font-family: "Nunito";
  font-style: normal;
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 700px;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 660px) {
  .container {
    max-width: 360px;
    padding: 0px 5px;
  }
}
