.wrapperItems {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  justify-items: center;
}
.catalog {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}
.filters {
  display: flex;
  width: 100%;
}
.filterAsk {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.buttonItemNavigate {
  display: flex;
  justify-content: center;
  button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background: #ff0000;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 25px;
  }
  button:hover {
    background: #ffa900;
  }
  button:first-child {
    margin-right: 30px;
  }
  button:last-child {
    margin-left: 30px;
  }
}
.typeCatalog {
  font-weight: 700;
  font-size: 32px;

  text-transform: uppercase;

  color: #000000;
}
.setFilter {
  background: #fff8eb;
  border-radius: 16px;
  font-size: 16px;
  width: 181px;
  height: 38px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SelectFilter {
  min-height: 100px;
  width: 100%;
}
.mainPopup {
  position: relative;
}
.popup {
  position: absolute;
  top: 0px;
  width: 181px;
  background: #fff8eb;
  border: 1px solid rgba(255, 169, 0, 0.45);
  border-radius: 16px;
}
.setFilterPopup {
  background: #fff8eb;
  border-bottom: 1px solid rgba(255, 169, 0, 0.45);
  border-radius: 16px;
  font-size: 16px;
  text-align: center;
  width: 181px;
  height: 38px;
  line-height: 35px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ascDesc {
  transform: rotate(-90deg);
}
.ascDescRotate {
  transform: rotate(90deg);
}
.arrow {
  border: 1px solid rgba(255, 169, 0, 0.45);
  background-color: inherit;
  cursor: pointer;
  width: 30%;
  border-radius: 0px 16px 16px 0px;
}
.sortingParam {
  font-size: 15px;
  background-color: inherit;
  cursor: pointer;
  width: 70%;
  border: 1px solid rgba(255, 169, 0, 0.45);
  border-radius: 16px 0px 0px 16px;
}
.warn {
  font-size: 20px;
}
.FiltersComponent {
  display: block;
}
.FilterComponentPopup {
  display: none;
  position: relative;
  button {
    font-weight: 500;
    height: 100%;
    border-radius: 31px;
    background-color: #ff0000;
    padding: 0px 10px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
  }
  button:hover {
    background: #ffa900;
  }
  &__block {
    padding: 20px;
    z-index: 50;
    border-radius: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    width: 500px;
    border: 2px solid #ff0000;
    background-color: white;
    position: absolute;
    top: 55px;
  }
}
.closeModal {
  z-index: 51;
  width: 50px;
  position: absolute;
  left: 280px;
  top: 70px;
}
@media screen and (max-width: 1250px) {
  .wrapperItems {
    grid-template-columns: repeat(2, 1fr);
  }
  .filters {
    flex-direction: column;
  }
  .FiltersComponent {
    display: none;
  }
  .FilterComponentPopup {
    display: block;
  }
}
@media screen and (max-width: 660px) {
  .filterAsk {
    flex-direction: column;
    align-items: center;
  }
  .FilterComponentPopup {
    margin: 10px 0px;
    button {
      height: 40px;
      padding: 0px 20px;
    }
    &__block {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;

      width: 100vw;
      height: 100vh;
      border: 0px;
      border-radius: 0px;
    }
  }
  .closeModal {
    position: fixed;
    width: 100px;
    top: 5vh;
    left: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapperItems {
    grid-column-gap: 0px;
  }
  .closeModal {
    width: 60px;
    top: 1vh;
    left: 75vw;
  }
  .catalog {
    margin-top: 20px;
  }
}
