.Wrapper {
  width: 100%;

  ol {
    padding: 0px;
    margin: 0px;
  }
  ol li {
    padding-left: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    list-style: none;
    cursor: pointer;
  }
  li:hover {
    background: #fff5e0;
    border-radius: 2px;
  }
}
.firstThemeCatalog {
  margin-top: 0px;
}
.filtersParams {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
  }
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 7px;
  margin-top: 28px;
}
.secondBlockParam {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 32px;
}
.firstBlockParam {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.BlockTypes {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 660px) {
  .Wrapper {
    width: 90%;
    margin: 0 auto;
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  .BlockTypes {
    width: 50%;
    div h4 {
      margin-top: 0px;
    }
    div h4:nth-child(2n + 1) {
      margin-top: 20px;
    }
  }
  .filtersParams:first-child {
    align-items: center;
    width: 100%;
    div label {
      font-size: 16px;
    }
  }
  .filtersParams:last-child {
    flex-direction: row;
    h4 {
      font-size: 20px;
    }
    li {
      font-size: 15px;
      padding-left: 0px;
    }
  }
}
