.wrapper {
  min-height: 284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  width: 1291px;
  min-height: 284px;
  display: flex;
  justify-content: space-between;
  margin: 37px 0px 19px 0px;
  color: white;
  font-family: "Nunito";
  font-style: normal;
  ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  span {
    font-weight: 700;
  }
  li {
    font-weight: 400;
    cursor: pointer;
  }
}
.bottom_info {
  font-weight: 400;
  font-size: 12px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twinBlock {
  font-size: 14px;

  display: flex;
  &__info:first-child {
    margin-right: 65px;
  }
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondBlockInfo {
  li {
    display: flex;
    align-items: center;
  }
}
.locationInfo {
  &__phone {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    img {
      margin-right: 10px;
    }
  }
  &__time {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
  }
}

.media {
  img {
    margin-right: 22px;
  }
  &__cursor {
    width: 14px;
    height: 14px;
  }
  &__inst {
    width: 13px;
    height: 13px;
  }
  &__mail {
    width: 15px;
    height: 10px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  p {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.025em;
    margin-bottom: 9px;
  }
  &__buttons {
    display: flex;

    input {
      background: #ffffff;
      border-radius: 16px;
      margin-right: 12px;
      outline: none;
      border: none;
      height: 46px;
      padding: 0px 20px;
      width: 211px;
    }
    button {
      border: 1px solid #ffffff;
      border-radius: 16px;
      background-color: #d90000;
      color: white;
      height: 46px;
      width: 141px;
      cursor: pointer;
      font-weight: 600;
      font-size: 18px;
    }
    button:hover {
      background-color: #ffa900;
      color: black;
    }
  }
  label {
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__acceptSubcsribe {
    margin-top: 10px;
  }
}
.leftBlocks {
  display: flex;
  .section:first-child {
    margin-right: 10px;
  }
}

.firstInfoBot {
  font-weight: 400;
  font-size: 12px;
}

.lastBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 1310px) {
  .bottom_info {
    width: 240px;
  }
  .content {
    max-width: 1000px;
  }
  .bottom {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1010px) {
  .content {
    flex-direction: column;
    align-items: center;
    max-width: 670px;
  }
  .section:first-child {
    margin-right: 50px;
  }
  .lastBlock {
    margin-top: 50px;
  }
}

@media screen and (max-width: 700px) {
  .leftBlocks {
    flex-direction: column;
    align-items: center;
    .section:first-child {
      margin-right: 0px;
    }
  }
  .section {
    margin-bottom: 50px;
  }
  .lastBlock {
    margin: 10px;
  }
  .content {
    max-width: 484px;
  }
  li {
    width: 200px;
  }
  .section:first-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .firstInfoBot {
    margin-top: 10px;
    text-align: center;
  }
  .bottom_info {
    margin-top: 10px;
  }
  .twinBlock__info {
    width: 150px;
  }
  .twinBlock__info:first-child {
    margin-right: 0px;
  }
  .content {
    justify-content: flex-end;
  }
  .subscribe {
    p {
      width: 330px;
      text-align: center;
    }
    &__buttons {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        margin-bottom: 10px;
        margin-right: 0px;
      }
    }
  }
  .media {
    li {
      width: 200px;
    }
  }
  .section {
    margin-bottom: 20px;
  }
  li {
    width: 150px;
  }
  .bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content {
    max-width: 330px;
  }
}
