.listLikes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.voidLike {
  margin-top: 70px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .listLikes {
    grid-template-columns: 1fr 1fr;
  }
}
