.container {
  width: 1291px;
  margin: 0 auto;
}

.navigate {
  display: flex;
  a {
    text-decoration: none;
    color: black;
  }
  justify-content: left;
  &__button {
    padding: 0px 18px 0px 14px;
    height: 48px;
    background: #fff8eb;
    border: 1px solid rgba(255, 169, 0, 0.45);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 6px;
    }
    margin-right: 14px;
  }
  &__button:hover {
    background: #ffe8bc;
  }
}
