.Information {
  height: 100%;

  margin-top: 54px;
  display: flex;
  &__slider {
    height: 100%;
    width: 70%;
    border-radius: 26px;
  }
  &__blocks {
    margin-left: 12px;
    min-height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__cashsale {
      border-radius: 26px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .Information {
    flex-direction: column;

    &__slider {
      width: 100%;
    }
    &__blocks {
      margin-top: 4%;
      margin-left: 0px;
      min-width: 100%;
      flex-direction: row;
      &__cashsale {
        width: 48%;
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .Information {
    margin-top: 25px;
  }
}

@media screen and (max-width: 390px) {
  .Information {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    &__slider {
      width: 100%;
    }
    &__blocks {
      margin-top: 1%;
      margin-left: 0px;
      min-width: 100%;
      flex-direction: row;
      &__cashsale {
        width: 49.5%;
      }
    }
  }
}
