.root {
  min-height: 850px;
}

.wrapperItems {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  justify-items: center;
}
.warn {
  font-size: 20px;
}
.buttonItemNavigate {
  display: flex;
  justify-content: center;
  button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background: #ff0000;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 25px;
  }
  button:hover {
    background: #ffa900;
  }
  button:first-child {
    margin-right: 30px;
  }
  button:last-child {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1250px) {
  .wrapperItems {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .wrapperItems {
    grid-column-gap: 0px;
  }
}
.warn {
  font-size: 20px;
}
