.navigateSaleProduct {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 46px;
  width: 80px;
  background: #fff8eb;
  border: 1px solid #ffe7b9;
  border-radius: 58px;
  button {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    border: none;
    color: #ffa900;
    background-color: inherit;
  }
  button:hover {
    background-color: #ffa900;
    color: white;
  }
}
